/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FE9B00;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);

    background-attachment:fixed;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

a{
    text-decoration: none;
}

@font-face {
    font-family: benergy;
    src: url('../fonts/oktoberfest.ttf');
}


/*General*/
div#container {
    width: 80%;
    margin: auto;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgb(254, 182, 64);
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgb(254, 182, 64);
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgb(254, 182, 64);
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgb(254, 182, 64);
}

h1.title {
    text-align: center;
    font-family: benergy;
    font-size: 75px;
    color: #ffffff;
}

h1.title:after {
    display: inline-block;
    content: url('../img/beer-icon2.gif');
    width: 10%;
    height: 10%;
    zoom: 0.35;
}

.buttonStyle {
    padding: 6px;
    background-color: rgb(254, 182, 64);
    border-radius: 6px;
    border-top: 1px solid #ffffff;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    width: auto;
}

.topMenu {
    width: 100%;
    background: white;
    height: 58px;
    border-bottom: 1px dashed #FE9B00;
}

span.topMenuTitle {
    font-family: benergy;
    color: rgb(254, 182, 64);
    font-size: 36px;
    display: inline-block;
    width: 30%;
    margin: 3% 0 0% 2%;
}

span.topMenuTitle:before {
    margin: 0% 4% 0 0%;
    content: url('../img/beer-icon2.gif');
    zoom: 0.15;
}

div.logoutHolder {
    position: absolute;
    right: 0;
    display: inline-block;
    text-align: center;
    margin: 0 4% 0 0;
}

div.logoutHolder span{
    color: rgb(254, 182, 64);
}

img.logoutButton {
    display: block;
    right: 0;
    padding: 5px;
    margin: 1% 2% 0 0;
}

.bottomMenu {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 54px;
    background-color: rgb(232, 161, 51);
    border-radius: 2px;
}

.bottomMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bottomMenu ul li {
    display: inline-block;
    margin: 0% 0% 0 16%;
    text-align: center;
}

.linkTitle {
    display: block;
    color: #ffffff;
    /* font-size: 30px; */
}

.onoffswitch {
    position: relative;
    float: right;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    width: 50px;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 25px;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #34A7C1;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 9px;
    margin: 3px;
    background: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 71px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 41px;
}

/*Index*/
div.titleHolderIndex {
    width: 100%;
    margin: 41% 0 18% 0;
}

.indexButton {
    display: block;
    margin: 3% 0 0 0;
}

/*Login*/
div.titleHolderLogin {
    width: 100%;
    margin: 50% 0 0 0;
}

form.login {
    margin: 0 0 15% 0;
    width: 100%;
}

input.login {
    font-size: 16px;
    width: 94.5%;
    margin-bottom: 8%;
    padding: 2%;
}

label.rememberText {
    font-size: 16px;
    color: #ffffff;
}

input.rememberCheckbox[type=checkbox] {
    float: right;
    width: 20px;
    height: 20px;
    margin: 0;
}

div.loginButtonHolder {
    overflow: hidden;
}

.loginButton {
    float: left;
    width: 38%;
    margin: 0 14.8% 0 0;
}

a.forgotten {
    display: block;
    margin: 8% 0 0 0;
    font-size: 16px;
    color: #ffffff;
}

/*Register*/
.register {
    text-align: center;
    font-size: 2em;
    color: #ffffff;
}

select.login {
    font-size: 16px;
    width: 60%;
    margin-bottom: 8%;
    padding: 2%;
    color: rgb(254, 182, 64);
}

option.login {
    font-size: 15px;
    width: 60%;
    margin-bottom: 8%;
    padding: 2%;
    color: rgb(254, 182, 64);
}

.registerButton {
    margin: 0 0 5% 0;

}

/*Lost password*/
.lostPassword {
    text-align: center;
    font-size: 2em;
    color: #ffffff;
}

/*Home*/
img.coverImage {
    display: block;
    width: 100%;
    height: 50px;
    visibility: hidden;
}

h1.homeTitle {
    text-align: center;
    font-size: 26px;
    color: white;
}

.homeInfoHolder {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.homeInfo td {
    font-size: 48px;
    padding: 24px;
}

.homeInfo {
    float: left;
    background-color: rgb(254, 182, 64);
    margin: 8px 0% 0 5%;
    height: 129px;
    width: 42.5%;
    color: #ffffff;
    font-size: 19px;
    text-align: center;
    border-radius: 4px;
    box-shadow: inset 0px 0px 6px 0px white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd65e), color-stop(100%, rgb(254, 182, 64)));
}

.homeInfoText {
    display: block;
    margin: 6% 0 0 0;
    color: #ffffff;
}

.homeInfoAmount {
    display: block;
    margin: 17% 0 0 0;
    font-size: 1.6em;
}

.homeInfoBills{
    display: block;
    height: 100%;
    color: white;
}

.homeInfoBills img{
    display: block;
    margin: 9% auto;
}

.beerInfo{
    /* float: none; */
    width: 90%;
    height: 100%;
}

.homeBeerAmountHolder{
    width: 80%;
    margin: 2% auto 0;
    color: white;
    font-size: 23px;
    text-align: center;
}

.homeBeerAmount{
    margin: auto;
    font-size: 55px;
}

.homeBeerAmount img{
    zoom: 0.2;
}



/*Setting*/
.InfoTable {
    float: left;
    font-size: 19px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 5px;
    width: 95%;
    margin-top: 5%;
    border-collapse: collapse;
    color: #ffffff;
}

.InfoTable a {
    color: #ffffff;
}

.InfoTable tr{
    border-bottom: 1px solid #ffffff;
}

.InfoTable tr:last-child{
    border-bottom: 1px none #ffffff;
}

.InfoTable td {
    padding: 2%;
}

.InfoContainer {
    margin-left: 5%;
    overflow: hidden;
}

.toGroups{
    margin: 0 0 0 47%;
}

/*Room*/
div#FirstBlock {
    position: relative;
    bottom: 30px;
    left: 10px;
}

h1.Title {
    text-align: center;
    font-size: 26px;
    color: white;
}

.ownBeerAmount{
    display:inline-block;
    margin: 0 3% 0 0;
    zoom: 0.1;
}

/*Groups*/

.addGroup{
    display: inline-block;
    font-size: 16px;
    width: 60%;
    margin: 0% 0 0 13%;
    padding: 2%;
    border: none;
    border-radius: 4px;
}

.addGroupButton{
    display: inline;

    font-size: 18px;
    width: 19%;
    padding: 1.3% 5% 2.3%;
    border: none;
    border-radius: 4px;
}

/*Bills*/
span.meting {
    color: #ffffff;
    display: block;
    margin: 8% 0 0 0;
    text-align: center;
}

img.toBillDetail{
    display: inline-block;
    margin: -4% 0% -6% 6%;
}